.customoverlay  {
    position: relative;
    bottom: 0px;
    border-radius: 6px;
    background:#fff; 
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}    

.customoverlay  a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.customoverlay .title {
    display: block;
    text-decoration: none;
    color: rgb(97, 90, 90);
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    overflow: hidden;
}

.customoverlay .closeButton {
    float: right;
}

.customoverlay .storeInfo a {
    display: inline;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
  }